@font-face {
    font-family: octobot-font;
    src: url(fonts/Transformers\ Movie.ttf);
}
@font-face {
    font-family: banner-font;
    src: url(fonts/EnPhanithRam-Rpj2o.ttf);
}
:root{
 --custom-font: octobot-font;
 --banner-font: banner-font;
 --imgdiv-width: 30vw;
}
body{
    background-color: #000000;
    margin: 0px;
}
.mainDiv{
    width: 80vw;
    height: 100vh;
    display: flex;
    background-color: #2f3d4e;
    margin: auto;
    border-radius: 10px;
}
.imgDiv{
    height: 99vh;
    position: relative;
}
.rhsDiv{
    height: 75vh;
    width: 50vw;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.blurbDiv{
    max-height: 15vh;
    flex: 1 1 0;
    width: 75%;
    align-self: center;
}
.formDiv{
    background-color: #586c70;
    min-width: 0;
    flex: 1;
    overflow: auto;
    display: grid;
    grid-template-columns: 50% 1fr;
    box-shadow: 1vh 1vh 2px 1px #00000051;
    padding: 2vw;
    column-gap: 2vw;
}  
button{
    width:35%;
    margin-bottom: 2vh;
    border-radius: 7px 0px;
    background-color: #675b64ff ;
    font-size: 2.5vh;
    color: #d48ec4;
    text-shadow: 1px 1px #000000;
    font-family: var(--banner-font);
    flex: 1;
    margin-top: 2vh;
    justify-self: center;
}    
img{
    border-radius: 15px;
    object-fit:cover;
    height: inherit;
    width: var(--imgdiv-width);
}
input{
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
    color: rgb(9, 9, 9) ;
    text-shadow: 1px 1px #f471f4;
    font-family: var(--custom-font, sans-serif);
    font-size: 18px;
}
input:focus{
    border-radius: 15px;
    border-style: dotted;
    border-width: 5px;
    border-color: #14f50c;
}
.logoBanner{
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    height: 20vh;
    background-color: #00000064;
    top: 20vh;
    width: var(--imgdiv-width);
    overflow: hidden;
    justify-items: center;
    align-items: center;    
}
.rockImg{
   object-fit:scale-down;
   max-height: 20vh;
   flex: 1;
}
h2, .blurbDiv{
    font-family: var(--banner-font);
    font-size: 25px;
    color: #ffffff;
    text-shadow: 3px 3px #000000;
    padding: 0;     
    margin: 0%;
    min-height: 10px;
    flex: 1;
}
.blurbDiv{
    font-size: clamp(15px, 2vh, 20px)
}
form{
    display: grid;
    }
input[type=tel]:focus{
    border-color: #0c4ef5;
}
