@font-face {
    font-family: octobot-font;
    src: url(fonts/Transformers\ Movie.ttf);
}

:root{
 --custom-font: octobot-font;
}
body{
    background-color: #031324;
    margin: 0px;
    padding-top: 5vh;
}
.mainDiv{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #2f3d4e;
    margin: auto;
    justify-content:space-between;
    border-radius: 10px;
}
.imgDiv{
    flex: 1 1 30%;
}
.formDiv{
    height: 30vh;   
    background-color: #586c70;
    align-self: center;
    flex: 3 3 60%;
    min-width: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}   
img{
    border-radius: 15px;
    object-fit:cover;
    height: 90vh;
    width: 30vw;
}
label, button{
    color: #3c0427a1 ;
    font-family: var(--custom-font, sans-serif);
}
input{
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    display: grid;  
    grid-template-columns: 40% 40%;
    grid-column-gap: 3vw;
    margin: auto;
    padding-left: 2vw;
}
button{
    width:25%;
    align-self: center;
    margin-bottom: 2vh;
    border-radius: 5px;
    background-color: #675B5B ;
    font-size: larger;


}   
input:focus{
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #d4526a;
}